# Environment Variables Template

# This template outlines the required environment variables for the project.
# Duplicate this file, rename it to `.env`, and fill in the values as needed.
# DO NOT commit your `.env` file or any sensitive credentials to version control.

MODAL_TOKEN_ID = ''
MODAL_TOKEN_SECRET = ''